<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
        all: initial
        }
    </style>
    <!--h2> Soy [[prop1]]!</h2>-->
      <!--input type="text" value="{{first_name::input}}">
    <input type="range" value="{{age::input}}" min="18" max="70">-->
    <input placeholder="email" type="text" value="{{email::input}}"/>
    <input placeholder="password" type="password" value="{{password::input}}"/>
    <button on-click="login">Login</button>
    <span hidden$="{{!isLogged}}"> Bienvenido/a de nuevo </span>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login/"
      handle-as="json"
      content-type="application/json"
      method ="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          }, password:{
            type: String
          }, isLogged:{
            type: Boolean,
            value: false
          }
        };
      }

      login (){
          console.log("El usuario ha pulsado el boton");
          console.log ("Voy a enviar la petición");

          var loginData = {
            "email": this.email,
            "pass": this.password
          };
          console.log(loginData);
          this.$.doLogin.body = JSON.stringify(loginData);
          console.log(this.$.doLogin.body);
          this.$.doLogin.generateRequest();
          console.log ("Petición enviada");


      }
      manageAJAXResponse (data) {
        console.log ("Llegaron los datos");
        console.log (data.detail.response);
        this.isLogged=true;
        window.location = "user/" + data.detail.response.id;
      }

      showError (error) {
        console.log ("Hubo un error");
        console.log (error);
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
