<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
        all: initial
        }
    </style>
    <!--h2> Soy [[prop1]]!</h2>-->
    <button on-click="logout">Logout</button>

    <iron-ajax
      id="doLogout"
      url="localhost:3000/apitechu/v2/logout/{{id}}"
      handle-as="json"
      content-type="application/json"
      method ="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          logged: {
            type: Boolean,
            value: true
          }
        };
      }

      logout(){
        console.log("El usuario ha pulsado el boton LOGOUT");
        console.log ("Voy a enviar la petición de desconexión");
        var logoutData = {
          "id": this.id,
          "logged": this.logged
        };
        console.log (logoutData);
      }


      showError (error) {
        console.log ("Hubo un error");
        console.log (error);
      }

    }

    window.customElements.define(LogoutUsuario.is,LogoutUsuario);
  </script>
</dom-module>
